/*
Theme Name:   Title Overide Child theme
Theme URI:    https://wordpress.org/themes/twentytwentyone/
Description:  a Twenty Twenty-One child theme
Author:       WordPress.org
Author URI:   https://wordpress.org/
Template:     twentytwentyone
Version:      1.0.0
Text Domain:  afashachildtheme2021
*/

.site-title{
    font-size: 30px;
    font-weight: 700;
    color: rgba(15, 164, 219, 0.612) !important;
}